<?xml
  version="1.0"
  encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="applicationName" value="Stove" />
  <variable name="logFilePath" value="C:\@Logs\${applicationName}\${machinename}\${level}Log.txt" />
  <variable name="archiveLogFilePath"
            value="C:\@Logs\Archive\${shortdate}\${applicationName}\${machinename}\${level}\${level}LogArchive_{#####}.txt" />
  <variable name="seperator" value="********************************" />
  <targets async="true">
    <target name="infoFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
            fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
            concurrentWrites="true" />
    <target name="debugFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
            fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
            concurrentWrites="true" />
    <target name="errorFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
            fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
            concurrentWrites="true" />
    <target name="warnFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
            fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
            concurrentWrites="true" />
    <target name="fatalFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
            fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
            concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="*" levels="Debug" writeTo="debugFile" />
    <logger name="*" levels="Info" writeTo="infoFile" />
    <logger name="*" levels="Error" writeTo="errorFile" />
    <logger name="*" levels="Warn" writeTo="warnFile" />
    <logger name="*" levels="Fatal" writeTo="fatalFile" />
  </rules>
</nlog>